config system global
    set hostname {{ hostname }}
end
!
config system interface
    edit "{{ mgmt_port }}"
        set ip {{ mgmt_ip }} {{ mgmt_mask }}
        set allowaccess ping https ssh snmp
        set type physical
    next
end
!
config system dns
    set primary 8.8.8.8
    set secondary 8.8.4.4
end
!


